#AM{
	font-size: 20px;
	color: red;
	background-color: pink;
	transition-duration: 2s
}
#AM:hover{
	font-size: 30px;
	color: cyan;
	background-color: lightsalmon;
	transition-duration: 2s;
	border-radius: 10px;
}
img{
	width: 200px;
	height: 100px;
}
img:hover{
	position: fixed;
	z-index: 1;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    transition-duration: 2s;
}
#red_sq{
	width: 100px;
	height: 100px;
	background-color: blue;
	border-radius: 60px;
	transition-duration: 2s;
}
#red_sq:hover{
	position: fixed;
	z-index: 1;
	width: 100px;
	height: 100px;
	background-color: red;
	transition-duration: 2s;		
	border-radius: 0px;
}